img {
    width: 30%;
    height: 30%;
    margin: 0.5%;

}

html {
    background-color: purple;
}

nav {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    border-bottom: black solid 2px;
    width: 30%;
    margin-left: 0.5%;
    padding: 0.3%;
    font-size: 30px;
}